/* .side-bar {
  border: red 3px solid;
} */

/* .search-bar {
  width: 400px;
} */

/* .toggle-bar {
  width: 20px;
  border: blue 3px solid;
} */
/* .sider {
  width: 100px;
} */

.trigger {
  color: white;
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.toggle-bar {
  /* color: blue; */
  background-color: yellowgreen;
}

@import "~antd/dist/antd.css";
/* @import "~antd/lib/style/themes/default.less"; */
