/* .side-bar {
  border: red 3px solid;
} */

/* .search-bar {
  width: 400px;
} */

/* .toggle-bar {
  width: 20px;
  border: blue 3px solid;
} */

.toggle {
  /* color: blue; */
  background-color: yellowgreen;
}

@import "~antd/dist/antd.css";
/* @import "~antd/lib/style/themes/default.less"; */
